<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cadastro Cliente </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar bg-danger" th:fragment="navBar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Loja<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/formulario_cliente">Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/formulario_item">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listar_pedidos">Lista de Compras</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold; color: white" href="/realizar_venda">Compras</a>
                </li>
            </ul>
        </div>
    </nav>
  
    <br>     
    <div class="container">
        <form method="POST" action="#" th:action="@{/novo_cliente}" th:object="${cliente}">
            <div class="form-group">
                <label for="nome">NOME:</label>
                <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nome"
                    placeholder="Nome do Cliente" th:field="*{nome}" th:value="${nome}" > 
                    <p th:if="${#fields.hasErrors('nome')}" th:errors="${cliente.nome}">Name Error</p>    
            </div>
            <div class="form-group">
                <label for="preco">ENDEREÇO:</label>
                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço do cliente"
                th:field="*{endereco}" th:value="${nome}">
                <p th:if="${#fields.hasErrors('endereco')}" th:errors="${cliente.endereco}">Name Error</p>    
            </div>
            <button type="submit" class="btn btn-primary">CADASTRAR</button>
            <button type="submit" class="btn btn-primary">ATUALIZAR DADOS</button>
        </form>
    </div>

</body>

</html>