
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cadastro de Itens</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar  bg-danger" th:fragment="navBar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Loja<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/formulario_cliente">Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/formulario_item">Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listarPedidos">Lista de Compras</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" style="font-weight: bold; color: white" href="/realizar_venda">comprar</a>
                </li>

        </ul>
    </div>
</nav>

    <br>
    <br>
    <div class="container bg-dark">
            <table class="table" style=" color: red">
                    <thead>
                      <tr>
                        <th scope="col">PEDIDO</th>
                        <th scope="col">CLIENTE</th>
                        <th scope="col">TOTAL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="pedido : ${pedidos}">
                        <th scope="row"> <a th:href="@{'/detalhesDoPedido/' + ${pedido.id}}"><span th:text="${pedido.id}"></span></a> </th>
                        <td><span th:text="${pedido.cliente.nome}"></span></td>
                        <td><span th:text="'R$ ' + ${pedido.valor}"></span></td>
                      </tr>
                    </tbody>
                  </table>
    </div>
</body>
</html>