<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cadastro de Itens</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navBar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">LOJA<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/formulario_cliente">CLIENTE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/formulario_item">ITEM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listar_pedidos">LISTA DE COMPRAS</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold; color: white" href="/realizar_venda">REALIZAR COMPRA</a>
                    </li>
            </ul>
        </div>
    </nav>

    <br>
    <div class="container">
        <p th:text="${mensagem}"></p>

        <form method="POST" action="/formulario_Venda">
            <div class="form-group">
                <label for="listaClientes">SELECIONE O CLIENTE</label>
                <select class="form-control" id="listaClientes" name="clienteId">
                    <option></option>
                    <option th:each="cliente: ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}" name="cliente"/>
                </select>
            </div>

            <label for="listaClientes">SELECIONE OS ITENS</label>
            <scroll-container class="card" style="padding: 2%" id="listaItens">
                <table th:each="item: ${itens}">
                    <tr>
                        <td>
                            <input type="checkbox" name="itensId" th:id="${item.id}" th:value="${item.id}">
                            <label class="form-check-label fontSize" th:for="${item.id}">
                                <strong th:text="${item.nome}"></strong>
                                <span th:text="' | Preço: '+ ${item.preco}"></span>
                            </label>
                        </td>
                    </tr>
                </table>
            </scroll-container>
            <br>
            <button type="submit" class="btn btn-primary ">CONFIRMAR</button>
        </form>
    </div>
</body>
</html>